@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

#home {
    background-image: url("../img/home.jpg");
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;

}

.head_text {
    text-align: center;
    display: inline-block;
    margin-top: 150px;


}

#home h1 {
    font-size: 60px;
    text-shadow: 10px 10px 25px rgb(81, 67, 21),
        -10px 10px 25px rgb(81, 67, 21),
        -10px -10px 25px rgb(81, 67, 21),
        10px -10px 25px rgb(81, 67, 21);

}

.type {
    color: red;
    font-size: 30px;
}

#home h2 {
    display: inline;
}

.socal_media {
    margin-top: 40px;

}

.socal_media a {
    color: white;
    font-size: 30px;
    padding-left: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    ;
    background-color: black;
    border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;

}

.socal_media a:hover {
    color: black;
    background-color: white;
    border-radius: 0% 100% 100% 0% / 0% 100% 0% 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    ;

}

.home_baton {
    margin-top: 40px;

}

.home_baton a {

    text-decoration: none;
    font-size: 1.5 em;
    padding: 20px 30px;
    background-color: black;
    color: red;
    border-radius: 20px;
}

/* .About_me {
    height: 500px;
} */
.mi_img {
    height: 500px;
    width: 90%;
}

.serbis_card img {
    height: 250px;
    width: 100%;
    padding: 10px 20px;
    /* border: 5px solid black; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 10px;
}

.form-masseg img {
    height: 300px;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.384) 0px 12px 28px 0px, rgba(255, 255, 255, 0.493) 0px 2px 4px 0px, rgba(255, 255, 255, 0.431) 0px 0px 0px 1px inset;
}

.form-masseg h3 {
    text-shadow: 10px 10px 25px rgb(81, 67, 21),
        -10px 10px 25px rgb(81, 67, 21),
        -10px -10px 25px rgb(81, 67, 21),
        10px -10px 25px rgb(81, 67, 21);
}

.form-masseg input {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;


}

.form-masseg select {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;

}

.form-masseg select option {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px 0;
}

.form-masseg textarea {
    background-color: black;
    color: white;
    /* height: 50px; */
    width: 100%;
}